<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${parentMessage.title}"></title>
</head>
<body>
<div class="container">
    <section>
        <h2 class="section-title">
            返信一覧 (<span id="messageCount" th:text="${replyMessage.totalElements}"></span>件)
        </h2>
        <div id="messageList" class="card">
            <div class="message-header">
                <h3 class="message-title" th:text="${parentMessage.title}"></h3>
                <span class="message-meta" th:text="${parentMessage.user.name}"></span>
            </div>
            <p class="message-content" th:text="${parentMessage.message}"></p>
            <span class="message-time"
                  th:text="${#temporals.format(parentMessage.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span>
        </div>
    </section>

    <div id="replyList" th:each="reply : ${replyMessage.content}" class="card">
        <div class="message-header">
            <h3 class="message-title"></h3>
            <span class="message-meta" th:text="${reply.user.name}"></span>
        </div>
        <p class="message-content" th:text="${reply.reply}"></p>
        <span class="message-time" th:text="${#temporals.format(reply.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></span>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="/top">TOP</a>
        <hr>
        <span th:if="${not replyMessage.first}">
                <a th:href="@{/reply/{id}(id=${parentMessage.messageId})}">最初へ</a>
            </span>
        <span th:if="${replyMessage.first}" style="color: gray;">最初へ</span>
        <span th:if="${replyMessage.hasPrevious()}">
                <a th:href="@{/reply/{id}(id=${parentMessage.messageId}, page=${replyMessage.number - 1})}">前へ</a>
            </span>
        <span th:if="${replyMessage.first}" style="color: gray;">前へ</span>

        <span style="margin: 0 15px;">
                [[${replyMessage.number + 1}]] / [[${replyMessage.totalPages}]] ページ
            </span>

        <span th:if="${replyMessage.hasNext()}">
                <a th:href="@{/reply/{id}(id=${parentMessage.messageId}, page=${replyMessage.number + 1})}">次へ</a>
            </span>
        <span th:if="${replyMessage.last}" style="color: gray;">次へ</span>
        <span th:if="${not replyMessage.last}">
                <a th:href="@{/reply/{id}(id=${parentMessage.messageId}, page=${replyMessage.totalPages - 1})}">最後へ</a>
            </span>
        <span th:if="${replyMessage.last}" style="color: gray;">最後へ</span>
    </div>

    <div class="card">
        <h2 class="section-title">返信</h2>
        <form th:action="@{/reply/{id}(id=${parentMessage.messageId})}" method="post" id="messageForm"
              th:object="${replyForm}">
            <div class="form-group">
                <label for="name">名前</label>
                <input type="text" id="name" name="name" placeholder="あなたの名前" th:field="*{name}" required>
                <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                    <label for="name" th:errors="*{name}" class="error-text"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="message">内容</label>
                <textarea id="message" name="reply" placeholder="メッセージを入力してください"
                          th:field="*{reply}" required></textarea>
                <div th:if="${#fields.hasErrors('reply')}" class="text-danger">
                    <label for="name" th:errors="*{reply}" class="error-text"></label>
                </div>
            </div>
            <button type="submit">返信する</button>
        </form>
    </div>
</div>
</body>
</html>
